/*
	Title:		Master styles for screen media
	Author: 	dan@simplebits.com
*/

/* reset styles
--------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main styles */

body{

    padding: 25px 0;
    font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
    color: #4E443C;
    font-size: 70%;
    background: url(../img/bg.jpg) fixed;

}

.wrap{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.3em;
}


header[role="banner"] {
    /*margin: 0 0 25px 0;*/
    padding: 10px 0 90px 0;
    border-bottom: 2px solid rgba(78, 68, 60, 0.1);
}

nav[role="navigation"] ul.group > li {
    float: left;
    width: 24%;
    margin: 14px 0 0 0;

}

nav[role="navigation"] ul.group > li.last {
    float: left;
    width: 20px;
    margin: 14px 0 0 0;

}


nav[role="navigation"] ul.group > li a {
    display: block;
    float: left;
    width: 100%;
    font-size: 1em;
    line-height: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;


}

nav[role="navigation"] ul.group > li a:hover strong,
nav[role="navigation"] ul.group > li.active a strong {
    color: #4E443C;
}

nav[role="navigation"] ul.group > li a em {
    display: block;
    font-size: .95em;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0;
    color: rgba(78, 68, 60, 0.35);
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

nav[role="navigation"] ul.group > li a:hover em,
nav[role="navigation"] ul.group > li.active a em {
    color: rgba(78, 68, 60, 0.7);
}

nav[role="navigation"] ul.group > li a:hover strong,
nav[role="navigation"] ul.group > li.active a strong {
    color: #4E443C;
}

nav[role="navigation"] ul.group > li a strong {
    display: block;
    padding: 0;
    font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: rgba(78, 68, 60, 0.5);
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;

}

ul.languages li{
    text-align: right;
    line-height: 28px;
    display: block;;
}

/* scrolling */


#sections{

    top:0px;
    left: 0px;
    width: 100%;
}

.section{
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}

/* todo queick fix */
.section#presentacion{

}

.section#tratamiento{
    background: url("../img/bg2.jpg") repeat;
    color: rgba(243, 255, 255, 0.99);
    text-shadow:1px 1px 2px #343434;
}

.section#atencionmujer{

}

.section#maitefayos{
    background: url("../img/bg2.jpg") repeat;
    color: rgba(243, 255, 255, 0.99);
    text-shadow:1px 1px 2px #f0f0f0;
}

.section#maitefayos h2, .section#tratamiento  h2{
    color: rgba(243, 255, 255, 0.99);
    text-shadow:1px 1px 2px #f0f0f0;;
}

.section h2 {
    margin: 0 0 1em 0;
    font-family: "Tungsten A", "Tungsten B", Helvetica, Arial, sans-serif;
    font-size: 2.0em;
    font-weight: 500;
    line-height: 1;
    color: rgba(78, 68, 60, 0.9);
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5em;
    padding-top: 3em;

}

.section .spacer{
    padding-bottom: 10em;
}

.section h2 img{
    float:right;
}

.section p {
    margin: 0 40px 1.6em 0;
    line-height: 20px;
}


.section blockquote {
    width: 50%;
    font-size: 1.6em;
    color: #4E443C;
    float:right;

}

.section blockquote p{
    margin-left: 40px;
    line-height: 27px;
}

.section ul.standard
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul#contacto{
    line-height: 18px;
}

.section ul.standard li{

    background: url("../img/bullet_yellow.ico") no-repeat;
    line-height: 30px;
    padding-left: 2.6em;
}

img#foto{
    border: 1px solid #000;

}

.link1{
    color: #00AFFD ;
    text-shadow:1px 1px 2px #484848;
    text-decoration: none;
}

.link2{
    color: #756a1e;
    text-shadow:1px 1px 2px #fff;

}
